.raidSelectorModule {
  flex-grow: 1;
  padding-right: 20px;
  width: 50%;
  height: 100%;
}

.flexul {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  scroll-behavior: smooth;

  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
}

.flexul > li {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 100px;
  user-select: none;

  text-align: right;

  width: 100%;
}

.flexul > li:hover {
  background-color: yellow;
}
